<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sentiment Analysis API</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <div class="login">
      <h2>Sentiment Analysis using Logistic Regression</h2>
      <form action="{{ url_for('predict') }}" method="post">
        <input
          type="text"
          name="Review"
          placeholder="Enter your review"
          required="required"
        />
        <button type="submit" class="btn btn-primary btn-block btn-large">
          Predict
        </button>
      </form>

      <h2 id="pred1">{{ prediction_text }}</h2>
    </div>
  </body>
</html>
